/* Reports CSS */
:root{
	--blue: #00747E;
	--green: #4A8F43;
	--light-green: #C4E6C4;
	--lightest-green: #E5F4E5;
	--grey-green: #F2F3F0;
	--brown: #570D10;
	--red: #BE0D10;
}

body {
	font: 14px/1 'Open Sans', sans-serif;
}

#printBodyDiv {
	position: inherit;
	display: grid;
	grid-template-columns: 30px 1fr 30px;
	grid-template-rows: 70px 25px 70px 8px auto;
	padding: 30px 0 30px;
	width: 90vw;
	height: 80vh;
	background-color: white;
	overflow: scroll;
}

#todayBodyDiv {
	position: inherit;
	display: grid;
	grid-template-columns: 30px 1fr 30px;
	grid-template-rows: 70px 25px 70px 8px auto auto;
	padding: 30px 0 30px;
	width: 100%;
	background-color: white;
	overflow: scroll;
}

.reportHeaderBox{
	background-color: var(--light-green);
	width: 100%;
	height: 72px;
	display: grid;
  grid-column: 2;
	grid-template-columns: 1fr 1fr 1fr;
	border: 1px solid var(--green);
}

.allServicesBodyHeaderBox{
	background-color: var(--light-green);
	width: 100%;
	height: 70px;
	display: grid;
	grid-row: 3;
	grid-column: 2;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 35px;
	border: 1px solid var(--green);
	margin-bottom: 30px;
}

.foodBodyHeaderBox{
	background-color: white;
	width: 100%;
	height: 70px;
	display: grid;
	grid-row: 3;
	grid-column: 2;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 35px 35px;
	border: 1px solid var(--green);
	margin-bottom: 30px;
}

.todayReportBodyHeaderBox{
	background-color: white;
	width: 100%;
	height: 70px;
	display: grid;
	grid-row: 3;
	grid-column: 2;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 35px 35px;
	border: 1px solid var(--green);
	margin-bottom: 30px;
}

.firstStepBodyHeaderBox {
	background-color: white;
	width: 100%;
	height: 70px;
	display: grid;
	grid-row: 3;
	grid-column: 2;
	grid-template-rows: 35px 35px;
	border: 1px solid var(--green);
	margin-bottom: 30px;
}

.familiesBodyHeaderBox  {
	background-color: white;
	width: 100%;
	height: 70px;
	display: grid;
	grid-row: 3;
	grid-column: 2;
	grid-template-columns: 1fr 3fr 2fr 2fr 2fr;
	grid-template-rows: 35px 35px;
	border: 1px solid var(--green);
	margin-bottom: 30px;
}

.grandTotal {
	border-top: 2px solid var(--green) !important;
	background-color: var(--light-green) !important;
	font-weight: bold !important;
}

.blankRow4 {
	grid-column: span 4;
	border-width: 0;
	line-height: 32px;
}

.todaySectionHeader{
	grid-column: span 13;
	background-color: var(--light-green);
	font-weight: bold;
	text-align: center;
	line-height: 35px;
}

.todayItem{
	line-height: 32px;
	text-align: center;
	border-bottom: .5px solid lightgrey;
}

.todayTotalItem{
	line-height: 32px;
	font-weight: bold;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.todayTotalLable{
	line-height: 32px;
	text-align: center;
	font-weight: bold;
	grid-column: span 4;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#todayReportRefreshButton{
	cursor: pointer;
}

#printReport{
	cursor: pointer;
}

.todayReportRowBox{
	background-color: white;
	width: 100%;
	display: grid;
	grid-column: 2;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 35px;
	border: 1px solid var(--green);
	margin-bottom: 30px;
}

.allServicesRowBox{
	background-color: white;
	width: 100%;
	display: grid;
	grid-column: 2;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 35px;
	border: 1px solid var(--green);
	margin-bottom: 8px;
}

.foodRowBox{
	background-color: white;
	width: 100%;
	height: 105px;
	display: grid;
	grid-column: 2;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 35px 35px 35px;
	border: 1px solid var(--green);
	margin-bottom: 8px;
}

.firstStepRowBox {
	background-color: white;
	width: 100%;
	height: 35px;
	display: grid;
	grid-column: 2;
	grid-template-rows: 35px;
	/* border: 1px solid var(--green); */
	margin-bottom: 2px;
}

.firstStepDistro {
	grid-template-columns: 1fr 4fr 4fr 2fr;
}

.firstStepCount {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.monthItem{
	line-height: 32px;
	text-align: center;
	border: .5px solid lightgrey;
}

.gradeGroup{
	line-height: 64px;
	text-align: center;
	border: .5px solid lightgrey;
	grid-row: span 2;
	font-weight: bold;
}

.catHeader{
	grid-column: span 5;
	line-height: 32px;
	text-align: left;
	border-bottom: .5px solid lightgrey;
	background-color: var(--light-green);
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
}

.servHeader{
	line-height: 32px;
	text-align: left;
	border: .5px solid lightgrey;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
}

.monthTotal{
	line-height: 32px;
	text-align: center;
	border-top: 1px solid var(--green);
	border-bottom: 1px solid var(--green);
	font-weight: bold;
	background-color: var(--light-green);
}

.bodyHeaderItem {
  border: 1px solid var(--green);
  font-size: 12px;
  line-height:  35px;
  text-align:  center;
  font-weight: bold;
}

.firstStepDistroHeaderItem{
  border: 1px solid var(--green);
	background-color: var(--light-green);
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
	grid-row: span 2;
}

.firstStepCountHeaderItem{
  border: 1px solid var(--green);
	background-color: var(--light-green);
  font-size: 14px;
  line-height: 70px;
  text-align: center;
  font-weight: bold;
	grid-row: span 2;
}

.hdrCell {
	border: 1px solid var(--green);
	background-color: var(--light-green);
	font-size: 14px;
	line-height: 34px;
	text-align: center;
	font-weight: bold;
}

.stacked {
  line-height: 68px;
	grid-row: span 2;
}

.stacked2Line {
	grid-row: span 2;
}

.secondary {
	background-color: var(--lightest-green);
}

#headerClient{
  grid-column: 1 / span 4;
  text-align:  center;
  background-color: var(--light-green);
	font-size: 14px;
	font-weight: bold;
}

#headerUSDA{
  grid-row: 1 / span 2;
  grid-column: 1;
  text-align:  center;
  background-color: var(--light-green);
	border-bottom: 2px solid var(--green);
}

#headerClientsServed{
  grid-column: span 5;
  background-color: var(--light-green);
	font-size: 14px;
	font-weight: bold;
}

#headerHomelessServed{
  grid-column: span 2;
  background-color: var(--light-green);
	font-size: 14px;
	font-weight: bold;
}

#headerNonClientsServed{
  grid-column: span 2;
  background-color: var(--light-green);
	font-size: 14px;
	font-weight: bold;
}

.greenBackground{
	background-color: var(--light-green);
	font-size: 14px;
	font-weight: bold;
}

.reportHeaderSides{
	font-size: 34px;
	line-height: 72px;
	color: var(--grey-green);
	text-align:  center;
	font-weight: bold;
}

.reportHeaderCenter {
	font-size: 16px;
	font-weight: bold;
  line-height: 23px;
  text-align: center;
}
