/* Reports CSS */
:root{
	--blue: #00747E;
	--green: #4A8F43;
	--light-green: #C4E6C4;
	--grey-green: #F2F3F0;
	--brown: #570D10;
	--red: #BE0D10;
}

body {
	font: 14px/1 'Open Sans', sans-serif;
}

#printBodyDiv {
	position: inherit;
	display: grid;
	grid-template-columns: 30px 1fr 30px;
	grid-template-rows: 70px 25px 70px 8px;
	padding: 30px 0 30px;
	width: 90vw;
	height: 80vh;
	background-color: white;
	overflow: scroll;
}

.reportHeaderBox{
	background-color: var(--light-green);
	width: 100%;
	height: 72px;
	display: grid;
  grid-column: 2;
	grid-template-columns: 1fr 1fr 1fr;
	border: 1px solid var(--green);
}

.reportBodyHeaderBox{
	background-color: white;
	width: 100%;
	height: 70px;
	display: grid;
	grid-row: 3;
	grid-column: 2;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 35px 35px;
	border: 1px solid var(--green);
	margin-bottom: 30px;
}

.reportRowBox{
	background-color: white;
	width: 100%;
	height: 70px;
	display: grid;
	grid-row: 3;
	grid-column: 2;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 35px 35px;
	border: 1px solid var(--green);
	margin-bottom: 30px;
}

.reportBodyHeaderItem {
  border: 1px solid var(--green);
  font-size: 12px;
  line-height:  35px;
  text-align:  center;
  font-weight: bold;
}

#headerUSDATop{
  grid-row: 1 / span 2;
  grid-column: 1;
  text-align:  center;
  background-color: var(--light-green);
}

#headerClientsServed{
  grid-row: 1;
  grid-column: 2 / span 5;
  background-color: var(--light-green);
}

#headerHomelessServed{
  grid-row: 1;
  grid-column: 7 / span 2;
  background-color: var(--light-green);
}

#headerNonClientsServed{
  grid-row: 1;
  grid-column: 9 / span 2;
  background-color: var(--light-green);
}

.reportHeaderSides{
	font-size: 34px;
	line-height: 72px;
	color: var(--grey-green);
	text-align:  center;
	font-weight: bold;
}

.reportHeaderCenter {
	font-size: 13px;
  line-height: 24px;
  text-align: center;
}
